* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 540px;
    font-size: 12px;
    color: #000;
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

li {
    list-style: none;
}