.header {
    display: flex;
    position: fixed;
    z-index: 22;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 570px;
    height: 45px;
}


/* right side login */

.login {
    height: 45px;
    width: 45px;
    font-size: 12px;
    text-align: center;
}

.login a {
    line-height: 1.5;
}


/* pic */

.login::before {
    content: "";
    display: block;
    height: 23px;
    width: 23px;
    margin: 0 auto;
    margin-top: 6px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -59px -194px;
    background-size: 104px auto;
}


/* flex_layout search */

.search {
    flex: 1;
    align-self: center;
    margin: 0 5px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px #000;
    background-color: rgba(255, 255, 255, .8);
    line-height: 32px;
    padding-left: 33px;
    font-size: 12px;
}


/* pic */

.search::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -59px -279px;
    background-size: 104px auto;
}


/* focus slider */

.focus {
    overflow: hidden;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
    z-index: -1;
}

.focus img {
    width: 100%;
}


/* middle nav  flex_layout*/

.nav {
    overflow: hidden;
    border-radius: 10px;
    margin-top: -60px;
    padding: 0 10px;
    min-width: 320px;
    max-width: 570px;
}

.nav ul {
    height: 64px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}

.nav ul li {
    flex: 1;
}


/* a  top bottom flex*/

.nav ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-pic {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat;
    background-size: 32px auto;
}

.nav-info {
    margin-top: 6px;
}


/* main-nav sart*/

.main-nav {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 16px;
    min-width: 320px;
    max-width: 570px;
}

.main-nav a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
}


/* column 3 */

.main-nav .main-nav-common {
    height: 100px;
    line-height: 100px;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}

.main-nav .main-nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #f76762, #fa994d);
}

.main-nav .main-nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #73bcf8, #53bced);
}

.main-nav .main-nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #4ef7db, #6cd557);
}

.main-nav-commn:nth-child(2) {
    margin: 3px 0;
}


/* row 3 */

.main-nav-common .main-nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-nav-common .main-nav-item:nth-child(2) {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}


/* column 2 */

.main-nav .main-nav-common .class-nav-item-little {
    flex: 1;
    line-height: 50px;
}

.main-nav .main-nav-common .class-nav-item-little:nth-child(1) {
    border-bottom: 1px solid #f2f2f2
}


/* .main-nav end */


/* sub_nav start */

.sub_nav {
    border-radius: 10px;
    padding-bottom: 15px;
    min-width: 320px;
    max-width: 570px;
}

.sub_nav ul {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.sub_nav ul li {
    margin-top: 15px;
    flex: 20%;
}

.sub_nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_nav ul li a .icon-pic {
    width: 28px;
    height: 28px;
    background: url(../images/subnav.png) no-repeat;
    background-size: 28px;
}


/* sub_nav end */


/* sale message start */

.sale {
    background-color: #fff;
    margin: 0 10px 10px;
}

.sale .sale-hd {
    height: 44px;
    position: relative;
    border-bottom: 1px solid #4444;
}

.sale .sale-hd h2 {
    font-size: 0;
}

.sale .sale-hd h2::after {
    content: '';
    height: 15px;
    width: 80px;
    display: block;
    background: url(../images/hot.png) no-repeat;
    background-position: 0 -20px;
    background-size: 79px auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.more {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: -webkit-linear-gradient(left, #f74d4d, #ba4dfa);
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
}

.sale-content .row {
    display: flex;
}

.sale-content .row img {
    width: 100%;
}

.sale-content .row a {
    border-bottom: 1px solid #4444;
}

.sale-content .row a:nth-child(1) {
    border-right: 1px solid #4444;
}


/* sale message end*/


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    background-color: #fff;
    text-align: center;
}

.footer p {
    margin-top: 5px;
}